{% extends "base.html" %}


{% block title %}Courses{% endblock %}
{% block body_class %}{{ block.super }} courses{% endblock %}


{% block sidebar %}
  {% if course.projects.count %}
    <h4><a href="{% url courses:projects course_slug=course.slug %}">Projects</a></h4>
    <ul>
      {% for proj in course.projects.all %}
      <li{% if project %}{% ifequal project proj %} class="on"{% endifequal %}{% endif %}><a href="{{ proj.get_absolute_url }}">{{ proj.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if course.assignments.count %}
    <h4><a href="{% url courses:assignments course_slug=course.slug %}">Assignments</a></h4>
    <ul>
      {% for assign in course.assignments.all %}
      <li{% if assignment %}{% ifequal assignment assign %} class="on"{% endifequal %}{% endif %}><a href="{{ assign.get_absolute_url }}">{{ assign.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}