{% extends "courses/base_courses.html" %}


{% block title %}{{ course.title }}{% endblock %}
{% block body_class %}{{ block.super }} course_detail{% endblock %}
{% block body_id %}course_{{ course.pk }}{% endblock %}


{% block content_title %}
  <h2>{{ course.title }}</h2>
{% endblock %}


{% block content %}
  {% load markup %}

  {% if assignments_due %}
    <div class="assignment_due">
      {% for assignment in assignments_due %}
      <p><a href="{{ assignment.get_absolute_url }}">Assignment, <strong>{{ assignment.title }},</strong> is due {{ assignment.due|date:"l, F jS" }}</a></p>
      {% endfor %}
    </div>
  {% endif %}

  {{ course.description|markdown }}
{% endblock %}